<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>Minas Tirith</string>
		<key>lastEditingUserName</key>
		<string>Mike Wang</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2013-12-15T07:03:41Z</date>
	<key>dataHash</key>
	<string>586e001f9b6c269f3e1d5dbbf006e2aa641cf2a3</string>
	<key>displayName</key>
	<string>Index</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>index</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2013-12-15T07:06:57Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>b358b6f4-9d26-484b-ae3f-30cd27833efd</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
