<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>Pheonix</string>
		<key>lastEditingUserName</key>
		<string>Huan WANG</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2014-03-09T05:21:55Z</date>
	<key>dataHash</key>
	<string>25141d7c7fd8a81da4144967728359c11bd3eab3</string>
	<key>displayName</key>
	<string>Index</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>index</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2014-03-09T05:23:34Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>bb282969-123a-436a-b52b-96aff8523c92</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
